body{
    margin: 0;
    transition: background-color 0.5s ease, color 0.5s ease; /* 🎨 transition douce */
}

header{
    display: flex;
    flex-direction: row;
    padding:20px;
}
.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.page{
    display: flex;
    flex-direction: column;
    height: 300vb;
    width: 100%;
}

.page1{
    display: flex;
    flex-grow: 1;
}
.page2{
    display: flex;
    flex-grow: 1;
}
.page3{
    display: flex;
    flex-grow: 1;

}

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img{
  width: 30%; 
  height: 10%;
}

.jour{
    color: black;
    background-color: aliceblue;
}
.nuit{
    color: aliceblue;
    background-color: black;
}
